doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Call test
        link(rel="stylesheet", href="./public/css/style.css")
    body
        header 
            h1 Call Test
        main
            h2 상담원 목록
            ul
            form#callInfo
                input(type="text", placeholder="대표번호")
                input(type="text", placeholder="회원번호")
                input(type="text", placeholder="고객번호")
                div.btns
                    button call
        script(src="./public/app.js") 